--
-- PostgreSQL database dump
--

\restrict sRv02gQZ6BVc0OBftx7wljjqcQsqBpFc69rlUPCAVRa07LQWNiLGyDjLAHIAfEz

-- Dumped from database version 17.7 (bdc8956)
-- Dumped by pg_dump version 17.6 (Debian 17.6-2.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: postgis; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS postgis WITH SCHEMA public;


--
-- Name: EXTENSION postgis; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON EXTENSION postgis IS 'PostGIS geometry and geography spatial types and functions';


--
-- Name: enum_accommodations_amenities_amenity; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.enum_accommodations_amenities_amenity AS ENUM (
    'wifi',
    'parking',
    'restaurant',
    'bar',
    'pool',
    'spa',
    'gym',
    'laundry',
    'kitchen',
    'ac',
    'heating',
    'hot_water',
    'breakfast',
    'pet_friendly',
    'family_friendly',
    'accessible',
    'luggage_storage',
    'tour_desk',
    'other'
);


--
-- Name: enum_accommodations_quality_cleanliness; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.enum_accommodations_quality_cleanliness AS ENUM (
    'excellent',
    'very_good',
    'good',
    'fair',
    'poor'
);


--
-- Name: enum_accommodations_quality_service; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.enum_accommodations_quality_service AS ENUM (
    'excellent',
    'very_good',
    'good',
    'fair',
    'poor'
);


--
-- Name: enum_accommodations_quality_star_rating; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.enum_accommodations_quality_star_rating AS ENUM (
    '1',
    '2',
    '3',
    '4',
    '5',
    'unrated'
);


--
-- Name: enum_accommodations_suitable_for_traveler_type; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.enum_accommodations_suitable_for_traveler_type AS ENUM (
    'solo',
    'couples',
    'families',
    'groups',
    'backpackers',
    'business',
    'adventure',
    'digital_nomads'
);


--
-- Name: enum_accommodations_type; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.enum_accommodations_type AS ENUM (
    'hotel',
    'hostel',
    'camping',
    'guesthouse',
    'resort',
    'apartment',
    'yurt',
    'wild_camping',
    'homestay',
    'ecolodge',
    'other'
);


--
-- Name: enum_countries_best_time_to_visit; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.enum_countries_best_time_to_visit AS ENUM (
    'january',
    'february',
    'march',
    'april',
    'may',
    'june',
    'july',
    'august',
    'september',
    'october',
    'november',
    'december'
);


--
-- Name: enum_countries_continent; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.enum_countries_continent AS ENUM (
    'africa',
    'antarctica',
    'asia',
    'europe',
    'north_america',
    'oceania',
    'south_america'
);


--
-- Name: enum_countries_main_religion; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.enum_countries_main_religion AS ENUM (
    'christianity',
    'catholicism',
    'islam',
    'judaism',
    'hinduism',
    'buddhism',
    'sikhism',
    'secular',
    'mixed',
    'other'
);


--
-- Name: enum_countries_safety_level; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.enum_countries_safety_level AS ENUM (
    'very_safe',
    'safe',
    'moderate',
    'caution',
    'high_risk'
);


--
-- Name: enum_trips_blocks_full_day_transportation_arrival_method; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.enum_trips_blocks_full_day_transportation_arrival_method AS ENUM (
    'walking',
    'rental_car',
    'public_bus',
    'taxi',
    'train',
    'flight',
    'boat',
    'bicycle',
    'hitchhiking',
    'tour_bus',
    'other'
);


--
-- Name: enum_trips_blocks_full_day_transportation_departure_method; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.enum_trips_blocks_full_day_transportation_departure_method AS ENUM (
    'walking',
    'rental_car',
    'public_bus',
    'taxi',
    'train',
    'flight',
    'boat',
    'bicycle',
    'hitchhiking',
    'tour_bus',
    'other'
);


--
-- Name: enum_trips_blocks_full_day_transportation_distance_unit; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.enum_trips_blocks_full_day_transportation_distance_unit AS ENUM (
    'km',
    'mi'
);


--
-- Name: enum_trips_blocks_full_day_transportation_travel_time_unit; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.enum_trips_blocks_full_day_transportation_travel_time_unit AS ENUM (
    'minutes',
    'hours',
    'days'
);


--
-- Name: enum_trips_blocks_waypoint_connection_type; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.enum_trips_blocks_waypoint_connection_type AS ENUM (
    'route',
    'side_trip'
);


--
-- Name: enum_trips_blocks_waypoint_transportation_arrival_method; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.enum_trips_blocks_waypoint_transportation_arrival_method AS ENUM (
    'walking',
    'rental_car',
    'public_bus',
    'taxi',
    'train',
    'flight',
    'boat',
    'bicycle',
    'hitchhiking',
    'tour_bus',
    'other'
);


--
-- Name: enum_trips_blocks_waypoint_transportation_departure_method; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.enum_trips_blocks_waypoint_transportation_departure_method AS ENUM (
    'walking',
    'rental_car',
    'public_bus',
    'taxi',
    'train',
    'flight',
    'boat',
    'bicycle',
    'hitchhiking',
    'tour_bus',
    'other'
);


--
-- Name: enum_trips_blocks_waypoint_transportation_distance_unit; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.enum_trips_blocks_waypoint_transportation_distance_unit AS ENUM (
    'km',
    'mi'
);


--
-- Name: enum_trips_blocks_waypoint_transportation_travel_time_unit; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.enum_trips_blocks_waypoint_transportation_travel_time_unit AS ENUM (
    'minutes',
    'hours',
    'days'
);


--
-- Name: enum_trips_category; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.enum_trips_category AS ENUM (
    'city_trip',
    'road_trip',
    'backpacking',
    'hiking',
    'base_camp'
);


--
-- Name: enum_trips_status; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.enum_trips_status AS ENUM (
    'draft',
    'published'
);


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: accommodations; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.accommodations (
    id integer NOT NULL,
    name character varying NOT NULL,
    type public.enum_accommodations_type NOT NULL,
    description jsonb,
    location public.geometry(Point),
    address_street character varying,
    address_city character varying,
    address_region character varying,
    address_postal_code character varying,
    address_country_id integer NOT NULL,
    contact_website character varying,
    contact_phone character varying,
    contact_email character varying,
    quality_star_rating public.enum_accommodations_quality_star_rating,
    quality_cleanliness public.enum_accommodations_quality_cleanliness,
    quality_service public.enum_accommodations_quality_service,
    personal_notes_stay_date timestamp(3) with time zone,
    personal_notes_would_recommend boolean,
    personal_notes_highlights character varying,
    personal_notes_drawbacks character varying,
    personal_notes_tips jsonb,
    updated_at timestamp(3) with time zone DEFAULT now() NOT NULL,
    created_at timestamp(3) with time zone DEFAULT now() NOT NULL
);


--
-- Name: accommodations_amenities; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.accommodations_amenities (
    _order integer NOT NULL,
    _parent_id integer NOT NULL,
    id character varying NOT NULL,
    amenity public.enum_accommodations_amenities_amenity,
    notes character varying
);


--
-- Name: accommodations_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.accommodations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: accommodations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.accommodations_id_seq OWNED BY public.accommodations.id;


--
-- Name: accommodations_rels; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.accommodations_rels (
    id integer NOT NULL,
    "order" integer,
    parent_id integer NOT NULL,
    path character varying NOT NULL,
    media_id integer
);


--
-- Name: accommodations_rels_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.accommodations_rels_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: accommodations_rels_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.accommodations_rels_id_seq OWNED BY public.accommodations_rels.id;


--
-- Name: accommodations_suitable_for; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.accommodations_suitable_for (
    _order integer NOT NULL,
    _parent_id integer NOT NULL,
    id character varying NOT NULL,
    traveler_type public.enum_accommodations_suitable_for_traveler_type NOT NULL
);


--
-- Name: countries; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.countries (
    id integer NOT NULL,
    name character varying NOT NULL,
    country_code character varying NOT NULL,
    capital character varying NOT NULL,
    currency character varying NOT NULL,
    currency_name character varying,
    main_religion public.enum_countries_main_religion,
    main_religion_percentage numeric,
    visa_requirements jsonb,
    safety_level public.enum_countries_safety_level,
    updated_at timestamp(3) with time zone DEFAULT now() NOT NULL,
    created_at timestamp(3) with time zone DEFAULT now() NOT NULL,
    travel_time_from_brussels numeric,
    continent public.enum_countries_continent
);


--
-- Name: countries_best_time_to_visit; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.countries_best_time_to_visit (
    "order" integer NOT NULL,
    parent_id integer NOT NULL,
    value public.enum_countries_best_time_to_visit,
    id integer NOT NULL
);


--
-- Name: countries_best_time_to_visit_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.countries_best_time_to_visit_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: countries_best_time_to_visit_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.countries_best_time_to_visit_id_seq OWNED BY public.countries_best_time_to_visit.id;


--
-- Name: countries_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.countries_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: countries_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.countries_id_seq OWNED BY public.countries.id;


--
-- Name: countries_official_languages; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.countries_official_languages (
    _order integer NOT NULL,
    _parent_id integer NOT NULL,
    id character varying NOT NULL,
    language character varying NOT NULL
);


--
-- Name: media; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.media (
    id integer NOT NULL,
    alt character varying,
    caption character varying,
    country_id integer,
    related_trip_id integer,
    updated_at timestamp(3) with time zone DEFAULT now() NOT NULL,
    created_at timestamp(3) with time zone DEFAULT now() NOT NULL,
    url character varying,
    thumbnail_u_r_l character varying,
    filename character varying,
    mime_type character varying,
    filesize numeric,
    width numeric,
    height numeric,
    focal_x numeric,
    focal_y numeric,
    sizes_thumbnail_url character varying,
    sizes_thumbnail_width numeric,
    sizes_thumbnail_height numeric,
    sizes_thumbnail_mime_type character varying,
    sizes_thumbnail_filesize numeric,
    sizes_thumbnail_filename character varying,
    sizes_card_url character varying,
    sizes_card_width numeric,
    sizes_card_height numeric,
    sizes_card_mime_type character varying,
    sizes_card_filesize numeric,
    sizes_card_filename character varying,
    sizes_tablet_url character varying,
    sizes_tablet_width numeric,
    sizes_tablet_height numeric,
    sizes_tablet_mime_type character varying,
    sizes_tablet_filesize numeric,
    sizes_tablet_filename character varying,
    sizes_hero_url character varying,
    sizes_hero_width numeric,
    sizes_hero_height numeric,
    sizes_hero_mime_type character varying,
    sizes_hero_filesize numeric,
    sizes_hero_filename character varying
);


--
-- Name: media_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.media_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: media_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.media_id_seq OWNED BY public.media.id;


--
-- Name: payload_kv; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.payload_kv (
    id integer NOT NULL,
    key character varying NOT NULL,
    data jsonb NOT NULL
);


--
-- Name: payload_kv_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.payload_kv_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: payload_kv_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.payload_kv_id_seq OWNED BY public.payload_kv.id;


--
-- Name: payload_locked_documents; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.payload_locked_documents (
    id integer NOT NULL,
    global_slug character varying,
    updated_at timestamp(3) with time zone DEFAULT now() NOT NULL,
    created_at timestamp(3) with time zone DEFAULT now() NOT NULL
);


--
-- Name: payload_locked_documents_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.payload_locked_documents_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: payload_locked_documents_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.payload_locked_documents_id_seq OWNED BY public.payload_locked_documents.id;


--
-- Name: payload_locked_documents_rels; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.payload_locked_documents_rels (
    id integer NOT NULL,
    "order" integer,
    parent_id integer NOT NULL,
    path character varying NOT NULL,
    users_id integer,
    media_id integer,
    trips_id integer,
    countries_id integer,
    accommodations_id integer
);


--
-- Name: payload_locked_documents_rels_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.payload_locked_documents_rels_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: payload_locked_documents_rels_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.payload_locked_documents_rels_id_seq OWNED BY public.payload_locked_documents_rels.id;


--
-- Name: payload_migrations; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.payload_migrations (
    id integer NOT NULL,
    name character varying,
    batch numeric,
    updated_at timestamp(3) with time zone DEFAULT now() NOT NULL,
    created_at timestamp(3) with time zone DEFAULT now() NOT NULL
);


--
-- Name: payload_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.payload_migrations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: payload_migrations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.payload_migrations_id_seq OWNED BY public.payload_migrations.id;


--
-- Name: payload_preferences; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.payload_preferences (
    id integer NOT NULL,
    key character varying,
    value jsonb,
    updated_at timestamp(3) with time zone DEFAULT now() NOT NULL,
    created_at timestamp(3) with time zone DEFAULT now() NOT NULL
);


--
-- Name: payload_preferences_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.payload_preferences_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: payload_preferences_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.payload_preferences_id_seq OWNED BY public.payload_preferences.id;


--
-- Name: payload_preferences_rels; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.payload_preferences_rels (
    id integer NOT NULL,
    "order" integer,
    parent_id integer NOT NULL,
    path character varying NOT NULL,
    users_id integer
);


--
-- Name: payload_preferences_rels_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.payload_preferences_rels_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: payload_preferences_rels_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.payload_preferences_rels_id_seq OWNED BY public.payload_preferences_rels.id;


--
-- Name: trips; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.trips (
    id integer NOT NULL,
    title character varying NOT NULL,
    status public.enum_trips_status DEFAULT 'draft'::public.enum_trips_status,
    cover_image_id integer NOT NULL,
    description character varying,
    period character varying,
    budget_amount numeric,
    budget_currency character varying DEFAULT 'EUR'::character varying,
    budget_per_person boolean DEFAULT true,
    activities jsonb,
    updated_at timestamp(3) with time zone DEFAULT now() NOT NULL,
    created_at timestamp(3) with time zone DEFAULT now() NOT NULL,
    slug character varying NOT NULL,
    important_preparations jsonb
);


--
-- Name: trips_blocks_full_day; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.trips_blocks_full_day (
    _order integer NOT NULL,
    _parent_id integer NOT NULL,
    _path text NOT NULL,
    id character varying NOT NULL,
    "time" character varying,
    location_name character varying NOT NULL,
    location public.geometry(Point),
    region_province character varying,
    description character varying,
    activities jsonb,
    accommodation_id integer,
    transportation_arrival_method public.enum_trips_blocks_full_day_transportation_arrival_method,
    transportation_departure_method public.enum_trips_blocks_full_day_transportation_departure_method,
    transportation_travel_time_value numeric,
    transportation_travel_time_unit public.enum_trips_blocks_full_day_transportation_travel_time_unit DEFAULT 'hours'::public.enum_trips_blocks_full_day_transportation_travel_time_unit,
    transportation_distance_value numeric,
    transportation_distance_unit public.enum_trips_blocks_full_day_transportation_distance_unit DEFAULT 'km'::public.enum_trips_blocks_full_day_transportation_distance_unit,
    transportation_transportation_notes character varying,
    block_name character varying
);


--
-- Name: trips_blocks_full_day_gallery; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.trips_blocks_full_day_gallery (
    _order integer NOT NULL,
    _parent_id character varying NOT NULL,
    id character varying NOT NULL,
    media_id integer NOT NULL
);


--
-- Name: trips_blocks_waypoint; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.trips_blocks_waypoint (
    _order integer NOT NULL,
    _parent_id integer NOT NULL,
    _path text NOT NULL,
    id character varying NOT NULL,
    location_name character varying NOT NULL,
    description character varying,
    activities jsonb,
    location public.geometry(Point),
    region_province character varying,
    block_name character varying,
    connection_type public.enum_trips_blocks_waypoint_connection_type DEFAULT 'route'::public.enum_trips_blocks_waypoint_connection_type,
    transportation_arrival_method public.enum_trips_blocks_waypoint_transportation_arrival_method,
    transportation_departure_method public.enum_trips_blocks_waypoint_transportation_departure_method,
    transportation_travel_time_value numeric,
    transportation_travel_time_unit public.enum_trips_blocks_waypoint_transportation_travel_time_unit DEFAULT 'hours'::public.enum_trips_blocks_waypoint_transportation_travel_time_unit,
    transportation_distance_value numeric,
    transportation_distance_unit public.enum_trips_blocks_waypoint_transportation_distance_unit DEFAULT 'km'::public.enum_trips_blocks_waypoint_transportation_distance_unit,
    transportation_transportation_notes character varying
);


--
-- Name: trips_blocks_waypoint_gallery; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.trips_blocks_waypoint_gallery (
    _order integer NOT NULL,
    _parent_id character varying NOT NULL,
    id character varying NOT NULL,
    media_id integer NOT NULL,
    caption character varying
);


--
-- Name: trips_category; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.trips_category (
    "order" integer NOT NULL,
    parent_id integer NOT NULL,
    value public.enum_trips_category,
    id integer NOT NULL
);


--
-- Name: trips_category_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.trips_category_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: trips_category_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.trips_category_id_seq OWNED BY public.trips_category.id;


--
-- Name: trips_featured_accommodations; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.trips_featured_accommodations (
    _order integer NOT NULL,
    _parent_id integer NOT NULL,
    id character varying NOT NULL,
    accommodation_id integer NOT NULL
);


--
-- Name: trips_highlights_media; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.trips_highlights_media (
    _order integer NOT NULL,
    _parent_id integer NOT NULL,
    id character varying NOT NULL,
    media_id integer NOT NULL
);


--
-- Name: trips_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.trips_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: trips_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.trips_id_seq OWNED BY public.trips.id;


--
-- Name: trips_regions_visited; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.trips_regions_visited (
    _order integer NOT NULL,
    _parent_id integer NOT NULL,
    id character varying NOT NULL,
    region_name character varying NOT NULL
);


--
-- Name: trips_rels; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.trips_rels (
    id integer NOT NULL,
    "order" integer,
    parent_id integer NOT NULL,
    path character varying NOT NULL,
    countries_id integer
);


--
-- Name: trips_rels_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.trips_rels_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: trips_rels_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.trips_rels_id_seq OWNED BY public.trips_rels.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users (
    id integer NOT NULL,
    updated_at timestamp(3) with time zone DEFAULT now() NOT NULL,
    created_at timestamp(3) with time zone DEFAULT now() NOT NULL,
    email character varying NOT NULL,
    reset_password_token character varying,
    reset_password_expiration timestamp(3) with time zone,
    salt character varying,
    hash character varying,
    login_attempts numeric DEFAULT 0,
    lock_until timestamp(3) with time zone
);


--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: users_sessions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users_sessions (
    _order integer NOT NULL,
    _parent_id integer NOT NULL,
    id character varying NOT NULL,
    created_at timestamp(3) with time zone,
    expires_at timestamp(3) with time zone NOT NULL
);


--
-- Name: accommodations id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.accommodations ALTER COLUMN id SET DEFAULT nextval('public.accommodations_id_seq'::regclass);


--
-- Name: accommodations_rels id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.accommodations_rels ALTER COLUMN id SET DEFAULT nextval('public.accommodations_rels_id_seq'::regclass);


--
-- Name: countries id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.countries ALTER COLUMN id SET DEFAULT nextval('public.countries_id_seq'::regclass);


--
-- Name: countries_best_time_to_visit id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.countries_best_time_to_visit ALTER COLUMN id SET DEFAULT nextval('public.countries_best_time_to_visit_id_seq'::regclass);


--
-- Name: media id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.media ALTER COLUMN id SET DEFAULT nextval('public.media_id_seq'::regclass);


--
-- Name: payload_kv id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payload_kv ALTER COLUMN id SET DEFAULT nextval('public.payload_kv_id_seq'::regclass);


--
-- Name: payload_locked_documents id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payload_locked_documents ALTER COLUMN id SET DEFAULT nextval('public.payload_locked_documents_id_seq'::regclass);


--
-- Name: payload_locked_documents_rels id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payload_locked_documents_rels ALTER COLUMN id SET DEFAULT nextval('public.payload_locked_documents_rels_id_seq'::regclass);


--
-- Name: payload_migrations id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payload_migrations ALTER COLUMN id SET DEFAULT nextval('public.payload_migrations_id_seq'::regclass);


--
-- Name: payload_preferences id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payload_preferences ALTER COLUMN id SET DEFAULT nextval('public.payload_preferences_id_seq'::regclass);


--
-- Name: payload_preferences_rels id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payload_preferences_rels ALTER COLUMN id SET DEFAULT nextval('public.payload_preferences_rels_id_seq'::regclass);


--
-- Name: trips id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.trips ALTER COLUMN id SET DEFAULT nextval('public.trips_id_seq'::regclass);


--
-- Name: trips_category id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.trips_category ALTER COLUMN id SET DEFAULT nextval('public.trips_category_id_seq'::regclass);


--
-- Name: trips_rels id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.trips_rels ALTER COLUMN id SET DEFAULT nextval('public.trips_rels_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: accommodations; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: accommodations_amenities; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.accommodations_amenities (_order, _parent_id, id, amenity, notes) FROM stdin;
\.


--
-- Data for Name: accommodations_rels; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.accommodations_rels (id, "order", parent_id, path, media_id) FROM stdin;
\.


--
-- Data for Name: accommodations_suitable_for; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.accommodations_suitable_for (_order, _parent_id, id, traveler_type) FROM stdin;
\.


--
-- Data for Name: countries; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: countries_best_time_to_visit; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: countries_official_languages; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: media; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: payload_kv; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.payload_kv (id, key, data) FROM stdin;
\.


--
-- Data for Name: payload_locked_documents; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.payload_locked_documents (id, global_slug, updated_at, created_at) FROM stdin;
\.


--
-- Data for Name: payload_locked_documents_rels; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.payload_locked_documents_rels (id, "order", parent_id, path, users_id, media_id, trips_id, countries_id, accommodations_id) FROM stdin;
\.


--
-- Data for Name: payload_migrations; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: payload_preferences; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: payload_preferences_rels; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.payload_preferences_rels (id, "order", parent_id, path, users_id) FROM stdin;
71	\N	21	user	1
129	\N	22	user	2
23	\N	12	user	1
24	\N	11	user	1
141	\N	23	user	2
27	\N	14	user	2
28	\N	15	user	2
30	\N	16	user	1
32	\N	17	user	2
35	\N	13	user	1
37	\N	19	user	2
105	\N	18	user	2
62	\N	20	user	2
\.


--
-- Data for Name: spatial_ref_sys; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.spatial_ref_sys (srid, auth_name, auth_srid, srtext, proj4text) FROM stdin;
\.


--
-- Data for Name: trips; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: trips_blocks_full_day; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: trips_blocks_full_day_gallery; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: trips_blocks_waypoint; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: trips_blocks_waypoint_gallery; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: trips_category; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.trips_category ("order", parent_id, value, id) FROM stdin;
1	2	hiking	4
2	2	road_trip	5
1	11	road_trip	42
1	12	road_trip	45
1	19	backpacking	57
\.


--
-- Data for Name: trips_featured_accommodations; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.trips_featured_accommodations (_order, _parent_id, id, accommodation_id) FROM stdin;
1	2	68ebad734b041b1b9c792e32	1
2	2	68ebaf3c4b041b1b9c792e33	2
\.


--
-- Data for Name: trips_highlights_media; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: trips_regions_visited; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: trips_rels; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.trips_rels (id, "order", parent_id, path, countries_id) FROM stdin;
2	1	3	countries	4
7	1	8	countries	17
81	1	2	countries	1
137	1	19	countries	6
27	1	20	countries	11
29	1	18	countries	23
30	1	17	countries	14
31	1	16	countries	22
32	1	15	countries	24
33	2	15	countries	21
35	1	13	countries	20
36	1	9	countries	25
37	2	9	countries	18
38	1	7	countries	16
52	1	14	countries	13
121	1	6	countries	15
122	1	11	countries	4
125	1	12	countries	5
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: users_sessions; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.users_sessions (_order, _parent_id, id, created_at, expires_at) FROM stdin;
1	1	233a7b11-fe16-4a04-954e-dd33506675c7	2025-12-26 13:44:19.398+00	2025-12-26 15:44:19.398+00
1	2	d9040552-9d6f-4253-898b-922fd503d4d8	2025-12-26 12:48:41.74+00	2025-12-26 14:48:41.74+00
\.


--
-- Name: accommodations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.accommodations_id_seq', 25, true);


--
-- Name: accommodations_rels_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.accommodations_rels_id_seq', 1, false);


--
-- Name: countries_best_time_to_visit_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.countries_best_time_to_visit_id_seq', 61, true);


--
-- Name: countries_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.countries_id_seq', 27, true);


--
-- Name: media_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.media_id_seq', 239, true);


--
-- Name: payload_kv_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.payload_kv_id_seq', 1, false);


--
-- Name: payload_locked_documents_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.payload_locked_documents_id_seq', 189, true);


--
-- Name: payload_locked_documents_rels_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.payload_locked_documents_rels_id_seq', 378, true);


--
-- Name: payload_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.payload_migrations_id_seq', 13, true);


--
-- Name: payload_preferences_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.payload_preferences_id_seq', 23, true);


--
-- Name: payload_preferences_rels_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.payload_preferences_rels_id_seq', 141, true);


--
-- Name: trips_category_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.trips_category_id_seq', 57, true);


--
-- Name: trips_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.trips_id_seq', 20, true);


--
-- Name: trips_rels_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.trips_rels_id_seq', 137, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.users_id_seq', 2, true);


--
-- Name: accommodations_amenities accommodations_amenities_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.accommodations_amenities
    ADD CONSTRAINT accommodations_amenities_pkey PRIMARY KEY (id);


--
-- Name: accommodations accommodations_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.accommodations
    ADD CONSTRAINT accommodations_pkey PRIMARY KEY (id);


--
-- Name: accommodations_rels accommodations_rels_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.accommodations_rels
    ADD CONSTRAINT accommodations_rels_pkey PRIMARY KEY (id);


--
-- Name: accommodations_suitable_for accommodations_suitable_for_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.accommodations_suitable_for
    ADD CONSTRAINT accommodations_suitable_for_pkey PRIMARY KEY (id);


--
-- Name: countries_best_time_to_visit countries_best_time_to_visit_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.countries_best_time_to_visit
    ADD CONSTRAINT countries_best_time_to_visit_pkey PRIMARY KEY (id);


--
-- Name: countries_official_languages countries_official_languages_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.countries_official_languages
    ADD CONSTRAINT countries_official_languages_pkey PRIMARY KEY (id);


--
-- Name: countries countries_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.countries
    ADD CONSTRAINT countries_pkey PRIMARY KEY (id);


--
-- Name: media media_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.media
    ADD CONSTRAINT media_pkey PRIMARY KEY (id);


--
-- Name: payload_kv payload_kv_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payload_kv
    ADD CONSTRAINT payload_kv_pkey PRIMARY KEY (id);


--
-- Name: payload_locked_documents payload_locked_documents_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payload_locked_documents
    ADD CONSTRAINT payload_locked_documents_pkey PRIMARY KEY (id);


--
-- Name: payload_locked_documents_rels payload_locked_documents_rels_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payload_locked_documents_rels
    ADD CONSTRAINT payload_locked_documents_rels_pkey PRIMARY KEY (id);


--
-- Name: payload_migrations payload_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payload_migrations
    ADD CONSTRAINT payload_migrations_pkey PRIMARY KEY (id);


--
-- Name: payload_preferences payload_preferences_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payload_preferences
    ADD CONSTRAINT payload_preferences_pkey PRIMARY KEY (id);


--
-- Name: payload_preferences_rels payload_preferences_rels_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payload_preferences_rels
    ADD CONSTRAINT payload_preferences_rels_pkey PRIMARY KEY (id);


--
-- Name: trips_blocks_full_day_gallery trips_blocks_full_day_gallery_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.trips_blocks_full_day_gallery
    ADD CONSTRAINT trips_blocks_full_day_gallery_pkey PRIMARY KEY (id);


--
-- Name: trips_blocks_full_day trips_blocks_full_day_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.trips_blocks_full_day
    ADD CONSTRAINT trips_blocks_full_day_pkey PRIMARY KEY (id);


--
-- Name: trips_blocks_waypoint_gallery trips_blocks_waypoint_gallery_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.trips_blocks_waypoint_gallery
    ADD CONSTRAINT trips_blocks_waypoint_gallery_pkey PRIMARY KEY (id);


--
-- Name: trips_blocks_waypoint trips_blocks_waypoint_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.trips_blocks_waypoint
    ADD CONSTRAINT trips_blocks_waypoint_pkey PRIMARY KEY (id);


--
-- Name: trips_category trips_category_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.trips_category
    ADD CONSTRAINT trips_category_pkey PRIMARY KEY (id);


--
-- Name: trips_featured_accommodations trips_featured_accommodations_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.trips_featured_accommodations
    ADD CONSTRAINT trips_featured_accommodations_pkey PRIMARY KEY (id);


--
-- Name: trips_highlights_media trips_highlights_media_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.trips_highlights_media
    ADD CONSTRAINT trips_highlights_media_pkey PRIMARY KEY (id);


--
-- Name: trips trips_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.trips
    ADD CONSTRAINT trips_pkey PRIMARY KEY (id);


--
-- Name: trips_regions_visited trips_regions_visited_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.trips_regions_visited
    ADD CONSTRAINT trips_regions_visited_pkey PRIMARY KEY (id);


--
-- Name: trips_rels trips_rels_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.trips_rels
    ADD CONSTRAINT trips_rels_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users_sessions users_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users_sessions
    ADD CONSTRAINT users_sessions_pkey PRIMARY KEY (id);


--
-- Name: accommodations_address_address_country_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX accommodations_address_address_country_idx ON public.accommodations USING btree (address_country_id);


--
-- Name: accommodations_amenities_order_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX accommodations_amenities_order_idx ON public.accommodations_amenities USING btree (_order);


--
-- Name: accommodations_amenities_parent_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX accommodations_amenities_parent_id_idx ON public.accommodations_amenities USING btree (_parent_id);


--
-- Name: accommodations_created_at_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX accommodations_created_at_idx ON public.accommodations USING btree (created_at);


--
-- Name: accommodations_rels_media_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX accommodations_rels_media_id_idx ON public.accommodations_rels USING btree (media_id);


--
-- Name: accommodations_rels_order_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX accommodations_rels_order_idx ON public.accommodations_rels USING btree ("order");


--
-- Name: accommodations_rels_parent_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX accommodations_rels_parent_idx ON public.accommodations_rels USING btree (parent_id);


--
-- Name: accommodations_rels_path_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX accommodations_rels_path_idx ON public.accommodations_rels USING btree (path);


--
-- Name: accommodations_suitable_for_order_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX accommodations_suitable_for_order_idx ON public.accommodations_suitable_for USING btree (_order);


--
-- Name: accommodations_suitable_for_parent_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX accommodations_suitable_for_parent_id_idx ON public.accommodations_suitable_for USING btree (_parent_id);


--
-- Name: accommodations_updated_at_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX accommodations_updated_at_idx ON public.accommodations USING btree (updated_at);


--
-- Name: countries_best_time_to_visit_order_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX countries_best_time_to_visit_order_idx ON public.countries_best_time_to_visit USING btree ("order");


--
-- Name: countries_best_time_to_visit_parent_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX countries_best_time_to_visit_parent_idx ON public.countries_best_time_to_visit USING btree (parent_id);


--
-- Name: countries_country_code_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX countries_country_code_idx ON public.countries USING btree (country_code);


--
-- Name: countries_created_at_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX countries_created_at_idx ON public.countries USING btree (created_at);


--
-- Name: countries_name_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX countries_name_idx ON public.countries USING btree (name);


--
-- Name: countries_official_languages_order_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX countries_official_languages_order_idx ON public.countries_official_languages USING btree (_order);


--
-- Name: countries_official_languages_parent_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX countries_official_languages_parent_id_idx ON public.countries_official_languages USING btree (_parent_id);


--
-- Name: countries_updated_at_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX countries_updated_at_idx ON public.countries USING btree (updated_at);


--
-- Name: media_country_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX media_country_idx ON public.media USING btree (country_id);


--
-- Name: media_created_at_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX media_created_at_idx ON public.media USING btree (created_at);


--
-- Name: media_filename_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX media_filename_idx ON public.media USING btree (filename);


--
-- Name: media_related_trip_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX media_related_trip_idx ON public.media USING btree (related_trip_id);


--
-- Name: media_sizes_card_sizes_card_filename_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX media_sizes_card_sizes_card_filename_idx ON public.media USING btree (sizes_card_filename);


--
-- Name: media_sizes_hero_sizes_hero_filename_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX media_sizes_hero_sizes_hero_filename_idx ON public.media USING btree (sizes_hero_filename);


--
-- Name: media_sizes_tablet_sizes_tablet_filename_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX media_sizes_tablet_sizes_tablet_filename_idx ON public.media USING btree (sizes_tablet_filename);


--
-- Name: media_sizes_thumbnail_sizes_thumbnail_filename_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX media_sizes_thumbnail_sizes_thumbnail_filename_idx ON public.media USING btree (sizes_thumbnail_filename);


--
-- Name: media_updated_at_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX media_updated_at_idx ON public.media USING btree (updated_at);


--
-- Name: payload_kv_key_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX payload_kv_key_idx ON public.payload_kv USING btree (key);


--
-- Name: payload_locked_documents_created_at_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX payload_locked_documents_created_at_idx ON public.payload_locked_documents USING btree (created_at);


--
-- Name: payload_locked_documents_global_slug_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX payload_locked_documents_global_slug_idx ON public.payload_locked_documents USING btree (global_slug);


--
-- Name: payload_locked_documents_rels_accommodations_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX payload_locked_documents_rels_accommodations_id_idx ON public.payload_locked_documents_rels USING btree (accommodations_id);


--
-- Name: payload_locked_documents_rels_countries_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX payload_locked_documents_rels_countries_id_idx ON public.payload_locked_documents_rels USING btree (countries_id);


--
-- Name: payload_locked_documents_rels_media_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX payload_locked_documents_rels_media_id_idx ON public.payload_locked_documents_rels USING btree (media_id);


--
-- Name: payload_locked_documents_rels_order_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX payload_locked_documents_rels_order_idx ON public.payload_locked_documents_rels USING btree ("order");


--
-- Name: payload_locked_documents_rels_parent_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX payload_locked_documents_rels_parent_idx ON public.payload_locked_documents_rels USING btree (parent_id);


--
-- Name: payload_locked_documents_rels_path_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX payload_locked_documents_rels_path_idx ON public.payload_locked_documents_rels USING btree (path);


--
-- Name: payload_locked_documents_rels_trips_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX payload_locked_documents_rels_trips_id_idx ON public.payload_locked_documents_rels USING btree (trips_id);


--
-- Name: payload_locked_documents_rels_users_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX payload_locked_documents_rels_users_id_idx ON public.payload_locked_documents_rels USING btree (users_id);


--
-- Name: payload_locked_documents_updated_at_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX payload_locked_documents_updated_at_idx ON public.payload_locked_documents USING btree (updated_at);


--
-- Name: payload_migrations_created_at_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX payload_migrations_created_at_idx ON public.payload_migrations USING btree (created_at);


--
-- Name: payload_migrations_updated_at_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX payload_migrations_updated_at_idx ON public.payload_migrations USING btree (updated_at);


--
-- Name: payload_preferences_created_at_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX payload_preferences_created_at_idx ON public.payload_preferences USING btree (created_at);


--
-- Name: payload_preferences_key_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX payload_preferences_key_idx ON public.payload_preferences USING btree (key);


--
-- Name: payload_preferences_rels_order_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX payload_preferences_rels_order_idx ON public.payload_preferences_rels USING btree ("order");


--
-- Name: payload_preferences_rels_parent_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX payload_preferences_rels_parent_idx ON public.payload_preferences_rels USING btree (parent_id);


--
-- Name: payload_preferences_rels_path_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX payload_preferences_rels_path_idx ON public.payload_preferences_rels USING btree (path);


--
-- Name: payload_preferences_rels_users_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX payload_preferences_rels_users_id_idx ON public.payload_preferences_rels USING btree (users_id);


--
-- Name: payload_preferences_updated_at_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX payload_preferences_updated_at_idx ON public.payload_preferences USING btree (updated_at);


--
-- Name: trips_blocks_full_day_accommodation_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX trips_blocks_full_day_accommodation_idx ON public.trips_blocks_full_day USING btree (accommodation_id);


--
-- Name: trips_blocks_full_day_gallery_media_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX trips_blocks_full_day_gallery_media_idx ON public.trips_blocks_full_day_gallery USING btree (media_id);


--
-- Name: trips_blocks_full_day_gallery_order_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX trips_blocks_full_day_gallery_order_idx ON public.trips_blocks_full_day_gallery USING btree (_order);


--
-- Name: trips_blocks_full_day_gallery_parent_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX trips_blocks_full_day_gallery_parent_id_idx ON public.trips_blocks_full_day_gallery USING btree (_parent_id);


--
-- Name: trips_blocks_full_day_order_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX trips_blocks_full_day_order_idx ON public.trips_blocks_full_day USING btree (_order);


--
-- Name: trips_blocks_full_day_parent_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX trips_blocks_full_day_parent_id_idx ON public.trips_blocks_full_day USING btree (_parent_id);


--
-- Name: trips_blocks_full_day_path_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX trips_blocks_full_day_path_idx ON public.trips_blocks_full_day USING btree (_path);


--
-- Name: trips_blocks_waypoint_gallery_media_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX trips_blocks_waypoint_gallery_media_idx ON public.trips_blocks_waypoint_gallery USING btree (media_id);


--
-- Name: trips_blocks_waypoint_gallery_order_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX trips_blocks_waypoint_gallery_order_idx ON public.trips_blocks_waypoint_gallery USING btree (_order);


--
-- Name: trips_blocks_waypoint_gallery_parent_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX trips_blocks_waypoint_gallery_parent_id_idx ON public.trips_blocks_waypoint_gallery USING btree (_parent_id);


--
-- Name: trips_blocks_waypoint_order_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX trips_blocks_waypoint_order_idx ON public.trips_blocks_waypoint USING btree (_order);


--
-- Name: trips_blocks_waypoint_parent_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX trips_blocks_waypoint_parent_id_idx ON public.trips_blocks_waypoint USING btree (_parent_id);


--
-- Name: trips_blocks_waypoint_path_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX trips_blocks_waypoint_path_idx ON public.trips_blocks_waypoint USING btree (_path);


--
-- Name: trips_category_order_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX trips_category_order_idx ON public.trips_category USING btree ("order");


--
-- Name: trips_category_parent_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX trips_category_parent_idx ON public.trips_category USING btree (parent_id);


--
-- Name: trips_cover_image_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX trips_cover_image_idx ON public.trips USING btree (cover_image_id);


--
-- Name: trips_created_at_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX trips_created_at_idx ON public.trips USING btree (created_at);


--
-- Name: trips_featured_accommodations_accommodation_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX trips_featured_accommodations_accommodation_idx ON public.trips_featured_accommodations USING btree (accommodation_id);


--
-- Name: trips_featured_accommodations_order_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX trips_featured_accommodations_order_idx ON public.trips_featured_accommodations USING btree (_order);


--
-- Name: trips_featured_accommodations_parent_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX trips_featured_accommodations_parent_id_idx ON public.trips_featured_accommodations USING btree (_parent_id);


--
-- Name: trips_highlights_media_media_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX trips_highlights_media_media_idx ON public.trips_highlights_media USING btree (media_id);


--
-- Name: trips_highlights_media_order_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX trips_highlights_media_order_idx ON public.trips_highlights_media USING btree (_order);


--
-- Name: trips_highlights_media_parent_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX trips_highlights_media_parent_id_idx ON public.trips_highlights_media USING btree (_parent_id);


--
-- Name: trips_regions_visited_order_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX trips_regions_visited_order_idx ON public.trips_regions_visited USING btree (_order);


--
-- Name: trips_regions_visited_parent_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX trips_regions_visited_parent_id_idx ON public.trips_regions_visited USING btree (_parent_id);


--
-- Name: trips_rels_countries_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX trips_rels_countries_id_idx ON public.trips_rels USING btree (countries_id);


--
-- Name: trips_rels_order_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX trips_rels_order_idx ON public.trips_rels USING btree ("order");


--
-- Name: trips_rels_parent_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX trips_rels_parent_idx ON public.trips_rels USING btree (parent_id);


--
-- Name: trips_rels_path_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX trips_rels_path_idx ON public.trips_rels USING btree (path);


--
-- Name: trips_slug_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX trips_slug_idx ON public.trips USING btree (slug);


--
-- Name: trips_updated_at_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX trips_updated_at_idx ON public.trips USING btree (updated_at);


--
-- Name: users_created_at_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX users_created_at_idx ON public.users USING btree (created_at);


--
-- Name: users_email_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX users_email_idx ON public.users USING btree (email);


--
-- Name: users_sessions_order_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX users_sessions_order_idx ON public.users_sessions USING btree (_order);


--
-- Name: users_sessions_parent_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX users_sessions_parent_id_idx ON public.users_sessions USING btree (_parent_id);


--
-- Name: users_updated_at_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX users_updated_at_idx ON public.users USING btree (updated_at);


--
-- Name: accommodations accommodations_address_country_id_countries_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.accommodations
    ADD CONSTRAINT accommodations_address_country_id_countries_id_fk FOREIGN KEY (address_country_id) REFERENCES public.countries(id) ON DELETE SET NULL;


--
-- Name: accommodations_amenities accommodations_amenities_parent_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.accommodations_amenities
    ADD CONSTRAINT accommodations_amenities_parent_id_fk FOREIGN KEY (_parent_id) REFERENCES public.accommodations(id) ON DELETE CASCADE;


--
-- Name: accommodations_rels accommodations_rels_media_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.accommodations_rels
    ADD CONSTRAINT accommodations_rels_media_fk FOREIGN KEY (media_id) REFERENCES public.media(id) ON DELETE CASCADE;


--
-- Name: accommodations_rels accommodations_rels_parent_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.accommodations_rels
    ADD CONSTRAINT accommodations_rels_parent_fk FOREIGN KEY (parent_id) REFERENCES public.accommodations(id) ON DELETE CASCADE;


--
-- Name: accommodations_suitable_for accommodations_suitable_for_parent_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.accommodations_suitable_for
    ADD CONSTRAINT accommodations_suitable_for_parent_id_fk FOREIGN KEY (_parent_id) REFERENCES public.accommodations(id) ON DELETE CASCADE;


--
-- Name: countries_best_time_to_visit countries_best_time_to_visit_parent_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.countries_best_time_to_visit
    ADD CONSTRAINT countries_best_time_to_visit_parent_fk FOREIGN KEY (parent_id) REFERENCES public.countries(id) ON DELETE CASCADE;


--
-- Name: countries_official_languages countries_official_languages_parent_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.countries_official_languages
    ADD CONSTRAINT countries_official_languages_parent_id_fk FOREIGN KEY (_parent_id) REFERENCES public.countries(id) ON DELETE CASCADE;


--
-- Name: media media_country_id_countries_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.media
    ADD CONSTRAINT media_country_id_countries_id_fk FOREIGN KEY (country_id) REFERENCES public.countries(id) ON DELETE SET NULL;


--
-- Name: media media_related_trip_id_trips_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.media
    ADD CONSTRAINT media_related_trip_id_trips_id_fk FOREIGN KEY (related_trip_id) REFERENCES public.trips(id) ON DELETE SET NULL;


--
-- Name: payload_locked_documents_rels payload_locked_documents_rels_accommodations_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payload_locked_documents_rels
    ADD CONSTRAINT payload_locked_documents_rels_accommodations_fk FOREIGN KEY (accommodations_id) REFERENCES public.accommodations(id) ON DELETE CASCADE;


--
-- Name: payload_locked_documents_rels payload_locked_documents_rels_countries_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payload_locked_documents_rels
    ADD CONSTRAINT payload_locked_documents_rels_countries_fk FOREIGN KEY (countries_id) REFERENCES public.countries(id) ON DELETE CASCADE;


--
-- Name: payload_locked_documents_rels payload_locked_documents_rels_media_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payload_locked_documents_rels
    ADD CONSTRAINT payload_locked_documents_rels_media_fk FOREIGN KEY (media_id) REFERENCES public.media(id) ON DELETE CASCADE;


--
-- Name: payload_locked_documents_rels payload_locked_documents_rels_parent_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payload_locked_documents_rels
    ADD CONSTRAINT payload_locked_documents_rels_parent_fk FOREIGN KEY (parent_id) REFERENCES public.payload_locked_documents(id) ON DELETE CASCADE;


--
-- Name: payload_locked_documents_rels payload_locked_documents_rels_trips_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payload_locked_documents_rels
    ADD CONSTRAINT payload_locked_documents_rels_trips_fk FOREIGN KEY (trips_id) REFERENCES public.trips(id) ON DELETE CASCADE;


--
-- Name: payload_locked_documents_rels payload_locked_documents_rels_users_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payload_locked_documents_rels
    ADD CONSTRAINT payload_locked_documents_rels_users_fk FOREIGN KEY (users_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: payload_preferences_rels payload_preferences_rels_parent_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payload_preferences_rels
    ADD CONSTRAINT payload_preferences_rels_parent_fk FOREIGN KEY (parent_id) REFERENCES public.payload_preferences(id) ON DELETE CASCADE;


--
-- Name: payload_preferences_rels payload_preferences_rels_users_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payload_preferences_rels
    ADD CONSTRAINT payload_preferences_rels_users_fk FOREIGN KEY (users_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: trips_blocks_full_day trips_blocks_full_day_accommodation_id_accommodations_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.trips_blocks_full_day
    ADD CONSTRAINT trips_blocks_full_day_accommodation_id_accommodations_id_fk FOREIGN KEY (accommodation_id) REFERENCES public.accommodations(id) ON DELETE SET NULL;


--
-- Name: trips_blocks_full_day_gallery trips_blocks_full_day_gallery_media_id_media_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.trips_blocks_full_day_gallery
    ADD CONSTRAINT trips_blocks_full_day_gallery_media_id_media_id_fk FOREIGN KEY (media_id) REFERENCES public.media(id) ON DELETE SET NULL;


--
-- Name: trips_blocks_full_day_gallery trips_blocks_full_day_gallery_parent_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.trips_blocks_full_day_gallery
    ADD CONSTRAINT trips_blocks_full_day_gallery_parent_id_fk FOREIGN KEY (_parent_id) REFERENCES public.trips_blocks_full_day(id) ON DELETE CASCADE;


--
-- Name: trips_blocks_full_day trips_blocks_full_day_parent_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.trips_blocks_full_day
    ADD CONSTRAINT trips_blocks_full_day_parent_id_fk FOREIGN KEY (_parent_id) REFERENCES public.trips(id) ON DELETE CASCADE;


--
-- Name: trips_blocks_waypoint_gallery trips_blocks_waypoint_gallery_media_id_media_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.trips_blocks_waypoint_gallery
    ADD CONSTRAINT trips_blocks_waypoint_gallery_media_id_media_id_fk FOREIGN KEY (media_id) REFERENCES public.media(id) ON DELETE SET NULL;


--
-- Name: trips_blocks_waypoint_gallery trips_blocks_waypoint_gallery_parent_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.trips_blocks_waypoint_gallery
    ADD CONSTRAINT trips_blocks_waypoint_gallery_parent_id_fk FOREIGN KEY (_parent_id) REFERENCES public.trips_blocks_waypoint(id) ON DELETE CASCADE;


--
-- Name: trips_blocks_waypoint trips_blocks_waypoint_parent_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.trips_blocks_waypoint
    ADD CONSTRAINT trips_blocks_waypoint_parent_id_fk FOREIGN KEY (_parent_id) REFERENCES public.trips(id) ON DELETE CASCADE;


--
-- Name: trips_category trips_category_parent_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.trips_category
    ADD CONSTRAINT trips_category_parent_fk FOREIGN KEY (parent_id) REFERENCES public.trips(id) ON DELETE CASCADE;


--
-- Name: trips trips_cover_image_id_media_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.trips
    ADD CONSTRAINT trips_cover_image_id_media_id_fk FOREIGN KEY (cover_image_id) REFERENCES public.media(id) ON DELETE SET NULL;


--
-- Name: trips_featured_accommodations trips_featured_accommodations_accommodation_id_accommodations_i; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.trips_featured_accommodations
    ADD CONSTRAINT trips_featured_accommodations_accommodation_id_accommodations_i FOREIGN KEY (accommodation_id) REFERENCES public.accommodations(id) ON DELETE SET NULL;


--
-- Name: trips_featured_accommodations trips_featured_accommodations_parent_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.trips_featured_accommodations
    ADD CONSTRAINT trips_featured_accommodations_parent_id_fk FOREIGN KEY (_parent_id) REFERENCES public.trips(id) ON DELETE CASCADE;


--
-- Name: trips_highlights_media trips_highlights_media_media_id_media_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.trips_highlights_media
    ADD CONSTRAINT trips_highlights_media_media_id_media_id_fk FOREIGN KEY (media_id) REFERENCES public.media(id) ON DELETE SET NULL;


--
-- Name: trips_highlights_media trips_highlights_media_parent_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.trips_highlights_media
    ADD CONSTRAINT trips_highlights_media_parent_id_fk FOREIGN KEY (_parent_id) REFERENCES public.trips(id) ON DELETE CASCADE;


--
-- Name: trips_regions_visited trips_regions_visited_parent_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.trips_regions_visited
    ADD CONSTRAINT trips_regions_visited_parent_id_fk FOREIGN KEY (_parent_id) REFERENCES public.trips(id) ON DELETE CASCADE;


--
-- Name: trips_rels trips_rels_countries_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.trips_rels
    ADD CONSTRAINT trips_rels_countries_fk FOREIGN KEY (countries_id) REFERENCES public.countries(id) ON DELETE CASCADE;


--
-- Name: trips_rels trips_rels_parent_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.trips_rels
    ADD CONSTRAINT trips_rels_parent_fk FOREIGN KEY (parent_id) REFERENCES public.trips(id) ON DELETE CASCADE;


--
-- Name: users_sessions users_sessions_parent_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users_sessions
    ADD CONSTRAINT users_sessions_parent_id_fk FOREIGN KEY (_parent_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict sRv02gQZ6BVc0OBftx7wljjqcQsqBpFc69rlUPCAVRa07LQWNiLGyDjLAHIAfEz

